@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  /* Define colors */
  --lesbian-1: #d62e00;
  --lesbian-2: #ff9a56;
  --lesbian-3: #ffffff;
  --lesbian-4: #d362a4;
  --lesbian-5: #8a0253;

  --nonbinary-1: #fcf434;
  --nonbinary-2: #ffffff;
  --nonbinary-3: #9c59d1;
  --nonbinary-4: #2c2c2c;

  --trans-1: #5BCEFA;
  --trans-2: #F5A9B8;
  --trans-3: #FFFFFF;
  --trans-4: #F5A9B8;
  --trans-5: #5BCEFA;

  --light-color: #ccc
}

/* animation for background color change */
@keyframes flag {
  0%, 23%, 100% {
    border-image-source: linear-gradient(to right,
        var(--lesbian-1), var(--lesbian-1) 20%,
        var(--lesbian-2) 20%, var(--lesbian-2) 40%,
        var(--lesbian-3) 40%, var(--lesbian-3) 60%,
        var(--lesbian-4) 60%, var(--lesbian-4) 80%,
        var(--lesbian-5) 80%, var(--lesbian-5));
  }

  33%, 56% {
    border-image-source: linear-gradient(to right,
        var(--nonbinary-1), var(--nonbinary-1) 20%,
        var(--nonbinary-2) 20%, var(--nonbinary-2) 60%,
        var(--nonbinary-3) 60%, var(--nonbinary-3) 80%,
        var(--nonbinary-4) 80%, var(--nonbinary-4));
  }

  66%, 90% {
    border-image-source: linear-gradient(to right,
        var(--trans-1), var(--trans-1) 20%,
        var(--trans-2) 20%, var(--trans-2) 40%,
        var(--trans-3) 40%, var(--trans-3) 60%,
        var(--trans-4) 60%, var(--trans-4) 80%,
        var(--trans-5) 80%, var(--trans-5));
  }
}


* {
  box-sizing: border-box;
  /* makes element size include padding and borders */
}

html,
body {
  font-family: 'Share Tech Mono', monospace;
  /* apply font to whole document */
  margin: 0;
  /* remove default margin */
  padding: 0;
  /* remove default padding */
  height: 100%;
  /* make html and body full height */
}

h1 {
  font-size: 5rem;
  /* increase font size */
}

#content-row {
  margin-top: 35vh;
  /* move content down */
}

#main-wrapper {
  display: flex;
  /* enable flexbox layout */
  flex-direction: column;
  /* set direction to vertical */
  min-height: 100%;
  /* make wrapper take up full height */
}

#main-content {
  flex: 1;
}

#main-footer {
  margin-top: 0rem;
}

#main-footer p {
  color: var(--light-color);
}

#main-footer a {
  text-decoration: none;
  color: inherit;
}

#name {
  display: inline-block;
  font-weight: bold;
  font-size: 5.5rem;
  color: black;

  /* Underline */

  border-bottom: 1rem solid;
  border-image-slice: 1;
  animation: flag 4s ease-in-out infinite;
}